<html>

	<head>
		
		<style>
		
			body {
				width: 8.4in;
				height: 5.4in;
			}
			
			table {
				border-collapse: collapse;
				border-spacing: 0px;
				font-size: 12px;
			}
			
			td {
				width: 0.25in;
				height: 0.25in;
				<!--border-bottom: 1px solid black;-->
				<!--border-right: 1px solid black;-->
			}
			
			@media print {
				html, body {
					display: block; 
					font-family: "Calibri";
					margin: 0px;
				}

				@page {
				  size: 8.4in 5.4in;
				  margin: 0px;
				}

				.logo {
				  width: 30%;
				}

			}
		
		</style>

	</head>
	
	<body>
		<table cellpadding="0">
			<!-- 1st inch-->
			<tr class="first-qtr-inch">
				<td colspan="33"></td>
			</tr>
			<tr class="second-qtr-inch">
				<td colspan="33"></td>
			</tr>
			<tr class="third-qtr-inch">
				<td colspan="33"></td>
			</tr>
			<tr class="fourth-qtr-inch">
				<td colspan="33"></td>
			</tr>
			<!-- 2nd inch-->
			<tr class="first-qtr-inch">
				<td colspan="7">
				<td colspan="15">CONSIGNEE NAME</td>
				<td colspan="3"></td>
				<td colspan="7">DESTINATION</td>
				<td></td>
			</tr>
			<tr class="second-qtr-inch">
				<td colspan="5"></td>
				<td colspan="17">CONSIGNEE ADDRESS</td>
				<td colspan="11"></td>
			</tr>
			<tr class="third-qtr-inch">
				<td colspan="5"></td>
				<td colspan="17"></td>
				<td colspan="6"></td>
				<td colspan="4">WGT CHG</td>
				<td></td>
			</tr>
			<tr class="fourth-qtr-inch">
				<td colspan="28"></td>
				<td colspan="4">VAL CHG</td>
				<td></td>
			</tr>
			<!-- 3rd inch-->
			<tr class="first-qtr-inch">
				<td colspan="2"></td>
				<td colspan="2">QTY</td>
				<td colspan="2">UNIT</td>
				<td></td>
				<td colspan="10">NATURE AND DESC</td>
				<td colspan="3">WGT/VOL</td>
				<td colspan="3">DEC VAL</td>
				<td colspan="5"></td>
				<td colspan="4">CU MSMT</td>
				<td></td>
			</tr>
			<tr class="second-qtr-inch">
				<td colspan="28"></td>
				<td colspan="4">DEL CHG</td>
				<td></td>
			</tr>
			<tr class="third-qtr-inch">
				<td colspan="28"></td>
				<td colspan="4">VAT</td>
				<td></td>
			</tr>
			<tr class="fourth-qtr-inch">
				<td colspan="28"></td>
				<td colspan="4">TOTAL</td>
				<td></td>
			</tr>
			<!-- 4th inch-->
			<tr class="first-qtr-inch">
				<td colspan="28"></td>
				<td colspan="4">DATE</td>
				<td></td>
			</tr>
			<tr class="second-qtr-inch">
				<td colspan="24"></td>
				<td colspan="3">BY</td>
				<td></td>
				<td colspan="3">BY AT</td>
				<td colspan="2"></td>
			</tr>
			<tr class="third-qtr-inch">
				<td colspan="33"></td>
			</tr>
			<tr class="fourth-qtr-inch">
				<td colspan="33"></td>
			</tr>
			<!-- 5th inch-->
			<tr class="first-qtr-inch">
				<td colspan="33"></td>
			</tr>
			<tr class="second-qtr-inch">
				<td colspan="5"></td>
				<td colspan="13">SHIPPER NAME</td>
				<td colspan="15"></td>
			</tr>
			<tr class="third-qtr-inch">
				<td colspan="5"></td>
				<td colspan="13">SHIPPER ADDRESS</td>
				<td colspan="15"></td>
			</tr>
			<tr class="fourth-qtr-inch">
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td>
			</tr>
			<!-- 6th inch-->
			<tr class="first-qtr-inch">
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td>
				<td></td>
			</tr>
		
		</table>

		<!--
		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table-row">
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
				<div class="box">
				</div>
			</div>
		</div>
		-->
	</body>
	
</html>